lab2/classification/venv
lab2/classification/.idea
lab3/regression/venv
lab3/regression/.idea
k/venv
k/.idea
k/src/CRASH
k/src/crash_invalid
k/src/crash_invalid_2
k/src/crash_valid_but_1
k/src/monitoring
